{{ define "content" }}
{{ if .Login }}

<div>

    <p>You are authorized as <b>{{ .Login }}</b>.</p>

    {{ if .Activated }}
        <p>Your Kubernetes environment was created.</p>
        <p>
        	While you are waiting for permissions, please install
            <a href="https://kubernetes.io/docs/tasks/tools/install-kubectl/">kubectl</a>.
        </p>

        {{ if .CA }}
            <p>
                <b>For the first part of the workshop:</b><br />
                let's prepare the local environment. Please, follow
                <a href="https://github.com/k8s-community/k8s-workshop-eu/blob/master/config-kubectl.md">
                    the instruction.
                </a>.
            </p>
            <p>Your personal token is <code>{{ .Token }}</code></p>
            <p>
            	Your ca.crt data is <br>
                <code> {{ .CA }} </code>
            </p>
        {{ else }}
		    <p>
		    	Your token hasn't been prepared yet.
		    	Please, come back to this page later or contact the workshop instructors.
            </p>
        {{ end }}

    {{ else }}
        <p>
            Your Kubernetes environment is preparing.
            Please, refresh this page to check its status.
        </p>
    {{ end }}

    <a href="{{ .SignOutLink }}">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Sign out
        </button>
    </a>

</div>

{{ else }}

<div style="align-content: center">
    <p>To join the workshop please sign in with your account:</p>

    <a href="{{ .GitHubSignInLink }}">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Sign in with GitHub
        </button>
    </a>
</div>

{{ end }}
{{ end }}
