{{ define "layout" }}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Production-ready services with Go and Kubernetes</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-green.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style type="text/css">
        .ws-container {
            max-width: 1000px;
            width: calc(100% - 16px);
            margin: 0 auto;
        }

        .ws-content {
            border-radius: 2px;
            padding: 80px 56px;
            margin-bottom: 80px;
        }
    </style>
</head>
<body>

<div class="mdl-layout mdl-js-layout">
    <div class="ws-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        {{ template "content" . }}
    </div>
</div>

</body>
</html>
{{ end }}
