{{ define "content" }}

{{ if .Login }}

<div>
    <p>Вы авторизованы как <b>{{ .Login }}</b>.</p>

    {{ if .Activated }}
        <p>Окружение в Kubernetes успешно создано.</p>

        <p>
            Следующий шаг &mdash; настройка локальной среды.
            Пожалуйста, следуйте [инструкции по подготовке окружения](https://github.com/k8s-community/k8s-workshop-ru/tree/develop/03-part-III-setup).
        </p>

        <p>
            Ваш токен: <code>{{ .GuestToken }}</code>.
        </p>

    {{ else }}
        <p>
            Окружение в Kubernetes находится в процессе приготовления.
            Пожалуйста, обновите эту страницу, чтобы проверить статус готовности.
        </p>
    {{ end }}

</div>

{{ else }}

<div style="align-content: center">
    <a href="{{ .GitHubSignInLink }}">
        <img src="./static/img/github-64px.png" />
    </a>
</div>

{{ end }}

{{ end }}
